{% extends "base.html" %}

{% block title %}Главная — Книга отзывов{% endblock %}

{% block content %}
<h1>Добро пожаловать!</h1>
<p>Это главная страница нашего блога.Здесь Вы можете получить полезную информацию оставленную пользователями</p>

<h2>Последний пост</h2>
<div>
    <h3><a href="{% url 'reviews:post' 1 %}">Как создать отзыв?</a></h3>
    <p>Узнайте, как оставить свой первый отзыв в нашей книге.</p>
</div>

<hr>

<h2>Оставить отзыв</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
{% endblock %}